body {
	margin:0;
	text-align: center;
}
div {
	position: relative;

}
p {
    display: block;
    font-size: 150%;
    font-family:Indie Flower;
    }
span{
	text-decoration: underline;

}
a:hover{
	background-color: yellow;
}
.intro{
	font-size: 6em;
	margin-bottom: 0px;
	color: #66bfbf;
}
h3{
	font-family: Lato;
}
h2{
	font-family: Lato;
}
h1{
	padding-top:20px;
	font-family: 'Sacramento';
	font-size: 350%;

}
.para{
	padding-right: 300px;
}
.font {
	font-family: Lato;
	margin-right: 80px;
	color: #66bfbf;
	font-size: 350%;
	font-weight: 800;
}
.top{
	width:100%;
	height:100%;
	text-align:center;
	padding-top: 100px;
	background-color: #E4F9F5;
	padding-bottom: 400px;
}
.second{
	width:100%;
	height:100%;
	background-color:#f3f3f3;
	text-align: center;
	    padding-bottom: 10px;
	border-bottom: 11px inset 
}
.third{
	width:100%;
	height:100px;
	background-color:#f3f3f3;
	padding-bottom: 830px;
	padding-left: 0px;
	
}
hr{
	margin-top: 0px;
    margin-bottom: 0px;
}
}
.topcld{
	position: absolute;
	right: 30%;
	top: 8.4%;
}
.botcld{
	position: absolute;
	left:25%;
	top:50%;
}
.mountain{
	position:absolute;
	bottom: 0%;
	right:35%;
}
.text{
	text-align: centre;
	margin-left: 100px;
}
	
}
.joker{
	position: absolute;
	text-align: center;
	margin-left: 30px;
}
li{
	 font-family:Indie Flower;
	 font-size: 150%;

}
.h{
	font-family: Lato;
	    margin-top: 0px;

}


.myButton {
	box-shadow:inset 0px -15px 7px 0px #42756b;
	background:linear-gradient(to bottom, #20c3c9 5%, #0688fa 100%);
	background-color:#20c3c9;
	border-radius:3px;
	border:0.5px solid #0b0e07;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Lato;
	font-size:21px;
	padding:8px 15px;
	text-decoration:none;
	text-shadow:0px 1px 0px #263666;
}
.myButton:hover {
	background:linear-gradient(to bottom, #0688fa 5%, #20c3c9 100%);
	background-color:#0688fa;
}
.myButton:active {
	position:relative;
	top:1px;
}

/*px are calculated using box model width in chrome inspect*/

